In [43]:
#Question1
import pandas as pd 
import numpy as np
print("The version of Pandas is: ",pd.__version__)

The version of Pandas is:  2.0.3

In [14]:
#Question2
Data=pd.read_csv('housing.csv')
Data
columns = Data.shape[0]

print(f"There are {columns} columns in the Database.")

There are 20640 columns in the Database.

In [20]:
#Question3   
empty_columns = Data.isna().any()
if empty_columns.any():
    print("There are empty columns in the dataset.")
    print("Columns with missing values:")
    print(empty_columns[empty_columns])
else:
    print("No empty columns in the dataset.")

There are empty columns in the dataset.
Columns with missing values:
total_bedrooms    True
dtype: bool

In [22]:
#Question4
unique_values = Data['ocean_proximity'].nunique()
print(f"The 'ocean_proximity' column has {unique_values} unique values.")

The 'ocean_proximity' column has 5 unique values.

In [26]:
#Question5
houses_near_bay = Data[Data['ocean_proximity'] == 'NEAR BAY']
average_median_house_value_near_bay = houses_near_bay['median_house_value'].mean()

print(f"The average 'median_house_value' for houses near the bay is ${average_median_house_value_near_bay:,.0f}")

The average 'median_house_value' for houses near the bay is $259,212

In [32]:
#Question6
total_bedrooms_average1=Data['total_bedrooms'].mean()
print(f"The average 'total_bedrooms'is {total_bedrooms_average1:,.3f}")

Data['total_bedrooms'].fillna(total_bedrooms_average1, inplace=True)

total_bedrooms_average2=Data['total_bedrooms'].mean()
print(f"The average 'total_bedrooms'is {total_bedrooms_average2:,.3f}")

if (total_bedrooms_average1==total_bedrooms_average2):
  print("No, it's the same ")
else: print ("Yes, it has changed")

The average 'total_bedrooms'is 537.871
The average 'total_bedrooms'is 537.871
No, it's the same

In [49]:
#Question7
#1
island_option=Data[Data['ocean_proximity'] == 'ISLAND']
#2
selected_columns=island_option[['housing_median_age', 'total_rooms', 'total_bedrooms']]
#3
X=selected_columns.values
#4
XTX = X.T.dot(X)
#5
try:
    XTX_inverse = np.linalg.inv(XTX)
except np.linalg.LinAlgError:
    print("XTX is not invertible (singular matrix).")
#6
Y=np.array([950, 1300, 800, 1000, 1300])
#7
w = XTX_inverse.dot(X.T).dot(Y)
#8
w

array([23.12330961, -1.48124183,  5.69922946])